In [16]:
import pandas as pd

davis_train = pd.read_csv("data/DAVIS_train.csv")
davis_valid = pd.read_csv("data/DAVIS_valid.csv")
davis_test = pd.read_csv("data/DAVIS_test.csv")

davis_train.loc[:, "Source"] = "DAVIS"
davis_valid.loc[:, "Source"] = "DAVIS"
davis_test.loc[:, "Source"] = "DAVIS"

KIBA_train = pd.read_csv("data/KIBA_train.csv")
KIBA_valid = pd.read_csv("data/KIBA_valid.csv")
KIBA_test = pd.read_csv("data/KIBA_test.csv")

KIBA_train.loc[:, "Source"] = "KIBA"
KIBA_valid.loc[:, "Source"] = "KIBA"
KIBA_test.loc[:, "Source"] = "KIBA"

In [17]:
KIBA_test

,SMILES,Target Sequence,Label,Source
0,COC1=C(C(=CC=C1)OC)CNC2=NC(=NC3=C2C=C(C=C3)Cl)...,MELENIVANTVLLKAREGGGGKRKGKSKKWKEILKFPHISQCEDLR...,0,KIBA
1,C1=CC=C2C(=C1)C(=CN2)CC(COC3=C(N=CC(=C3)C=CC4=...,MEQPPAPKSKLKKLSEDSLTKQPEEVFDVLEKLGEGSYGSVFKAIH...,0,KIBA
2,C1=CC=C(C=C1)C2=CNC3=C2C(=NC=N3)NCCCO,MENKKKDKDKSDDRMARPSGRSGHNTRGTGSSSSGVLMVGPNFRVG...,0,KIBA
3,C1=CC=C(C=C1)C2=CC3=C(NC(=O)N3)N=C2,MDDAAVLKRRGYLLGINLGEGSYAKVKSAYSERLKFNVAIKIIDRK...,0,KIBA
4,CC1=C(C2=NC3=CC=CC=C3N2C(=O)C1=CC4=C(NN(C4=O)C...,MGSNKSKPKDASQRRRSLEPAENVHGAGGGAFPASQTPSKPASADG...,0,KIBA
...,...,...,...,...
11820,C1=CC=C(C=C1)CN2C=CC3=CN=C(N=C32)NC4=CC(=CC=C4...,MPSRAEDYEVLYTIGTGSYGRCQKIRRKSDGKILVWKELDYGSMTE...,0,KIBA
11821,CS(=O)(=O)NCCOC1=CN=CC(=C1)C2=CC3=C(C=C2)C=NC=C3,MLLSKFGSLAHLCGPGGVDHLPVKILQPAKADKESFEKAYQVGAVL...,0,KIBA
11822,COC1=CC(=C(C=C1NC2=NN3C(=NN=C3C4=CC=CC=C4)C=C2...,MENFQKVEKIGEGTYGVVYKARNKLTGEVVALKKIRLDTETEGVPS...,0,KIBA
11823,CCCOC1=CC=CC(=C1)C(C)NC(=O)C2=CC=C(C=C2)C3=CC=...,MSTFRQEDVEDHYEMGEELGSGQFAIVRKCRQKGTGKEYAAKFIKK...,0,KIBA
11824,C1=CC(=CC=C1OC2=CN=CC3=C2C=C(S3)C4=NN=C(O4)N)Cl,MDDAAVLKRRGYLLGINLGEGSYAKVKSAYSERLKFNVAIKIIDRK...,0,KIBA

In [11]:
davis_test

,SMILES,Target Sequence,Label,Source
0,CN(C)CC1CCN2C=C(C3=CC=CC=C32)C4=C(C5=CN(CCO1)C...,PFWKILNPLLERGTYYYFMGQQPGKVLGDQRRPSLPALHFIKGAGK...,0,DAVIS
1,CN1CCC(CC1)COC2=C(C=C3C(=C2)N=CN=C3NC4=C(C=C(C...,MAEKQKHDGRVKIGHYVLGDTLGVGTFGKVKIGEHQLTGHKVAVKI...,0,DAVIS
2,CNC(=O)C1=CC=CC=C1SC2=CC3=C(C=C2)C(=NN3)C=CC4=...,MAALSGGGGGGAEPGQALFNGDMEPEAGAGAGAAASSAADPAIPEE...,0,DAVIS
3,CCN(CC)CCNC(=O)C1=C(NC(=C1C)C=C2C3=C(C=CC(=C3)...,MTSSLQRPWRVPWLPWTILLVSTAAASQNQERLCAFKDPYQQDLGI...,0,DAVIS
4,CC1=C(C=C(C=C1)NC(=O)C2=CC=C(C=C2)CN3CCN(CC3)C...,MGPEALSSLLLLLLVASGDADMKGHFDPAKCRYALGMQDRTIPDSD...,1,DAVIS
...,...,...,...,...
6006,CC1CCN(CC1N(C)C2=NC=NC3=C2C=CN3)C(=O)CC#N,MGHQESPLARAPAGGAAYVKRLCKGLSWREHVESHGSLGAQASPAS...,0,DAVIS
6007,CC1=CC=C(C=C1)N2C(=CC(=N2)C(C)(C)C)NC(=O)NC3=C...,MEEEGGSSGGAAGTSADGGDGGEQLLTVKHELRTANLTGHAEKVGI...,0,DAVIS
6008,CC1=CC(=C(C=C1)F)NC(=O)NC2=CC=C(C=C2)C3=C4C(=C...,MLLRSAGKLNVGTKKEDGESTAPTPRPKVLRCKCHHHCPEDSVNNI...,0,DAVIS
6009,CC1=C(NC(=C1C(=O)N2CCCC2CN3CCCC3)C)C=C4C5=C(C=...,MAGDLSAGFFMEELNTYRQKQGVVLKYQELPNSGPPHDRRFTFQVI...,0,DAVIS
6010,CC(C)(C)C1=CC(=NO1)NC(=O)NC2=CC=C(C=C2)C3=CN4C...,MCFSFIMPPAMADILDIWAVDSQIASDGSIPVDFLLPTGIYIQLEV...,0,DAVIS

In [3]:
train_df = pd.concat([davis_train, KIBA_train]).reset_index(drop=True)
valid_df = pd.concat([davis_valid, KIBA_valid]).reset_index(drop=True)
test_df = pd.concat([davis_test, KIBA_test]).reset_index(drop=True)

In [4]:
valid_df.shape

(14832, 6)

In [5]:
test_df.shape

(17836, 6)

In [6]:
test_df.groupby("Source").count()

        SMILES  Target Sequence  Label  COMPOUND_ID  PROTEIN_ID
Source
DAVIS     6011             6011   6011            0           0
KIBA     11825            11825  11825        11825       11825

In [67]:
train_df.to_csv("data/train_dataset.csv", index=False)
valid_df.to_csv("data/valid_dataset.csv", index=False)
test_df.to_csv("data/test_dataset.csv", index=False)

In [7]:
import pandas as pd

train_df = pd.read_csv("data/train_dataset.csv")
valid_df = pd.read_csv("data/valid_dataset.csv")
test_df = pd.read_csv("data/test_dataset.csv")

train_df.groupby("Source").count()

        SMILES  Target Sequence  Label  COMPOUND_ID  PROTEIN_ID
Source
DAVIS     2086             2086   2086            0           0
KIBA     94603            94603  94603        94603       94603

In [8]:
valid_df.groupby("Source").count()

        SMILES  Target Sequence  Label  COMPOUND_ID  PROTEIN_ID
Source
DAVIS     3006             3006   3006            0           0
KIBA     11826            11826  11826        11826       11826

In [70]:
test_df.groupby("Source").count()

        SMILES  Target Sequence  Label  COMPOUND_ID  PROTEIN_ID
Source
DAVIS     6011             6011   6011            0           0
KIBA     11825            11825  11825        11825       11825